@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-formButtonPrimary {
  @apply bg-purple-1 text-light-1;
}

.cl-formButtonPrimary:hover {
  @apply bg-purple-1;
}

.cl-footerActionLink {
  @apply text-purple-1;
}

.cl-footerActionLink:hover {
  @apply text-purple-1;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
}
